<div class="pure-u-1 l-box">
    <div id="main-graphic">
        <h1>DNA
            <h6>by Fernando Cea</h6>
        </h1>
        <div id="sequence"></div>
        <div id="chart">
            <div id="explanation" style="visibility: hidden;">
                <span id="percentage"></span>
                <br/>
                <span id="label"></span>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <input type="checkbox" id="togglelegend">Legend
        <br/>
        <div id="legend"></div>
    </div>
    <div id="options">
        <input type="text" id="optionUpload" placeholder="data here" />
    </div>
</div>