<div class="pure-u-1 l-box">
    <div id="main-graphic">
        <h1>DNA
            <h6>by Fernando Cea</h6>
        </h1>
        <div id="sequence"></div>
        <div id="chart">
            <div id="explanation" style="visibility: hidden;">
                <span id="percentage"></span>
                <br/>
                <span id="label"></span>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <input type="checkbox" id="togglelegend">Legend
        <br/>
        <div id="legend"></div>
    </div>
    <div id="options">
        <input type="text" id="optionUpload" placeholder="data here" />
    </div>
    <style type="text/css">
    h6 {
        color: #ddd;
    }
    #main-graphic {
        margin: 0 auto;
        width: 750px;
    }
    #sidebar {
        position: absolute;
        top: 10px;
        right: 0;
        width: 100px;
    }
    #sequence {
        width: 600px;
        height: 70px;
    }
    #legend {
        padding: 10px 0 0 3px;
        display: none;
    }
    #sequence text, #legend text {
        font-weight: 600;
        fill: #fff;
    }
    #chart {
        position: relative;
    }
    #chart path {
        stroke: #fff;
    }
    #explanation {
        position: absolute;
        top: 260px;
        left: 305px;
        width: 140px;
        text-align: center;
        color: #666;
        z-index: -1;
    }
    #percentage {
        font-size: 2.5em;
    }
    </style>
    <script type="text/javascript">

    </script>
</div>
